<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Load c3.css -->
    <link href="https://c3js.org/css/c3-eb4b9be8.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.5/examples/dashboard/dashboard.css" rel="stylesheet">
    <title>桃園市立圖書館</title>
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-center" href="#">智慧物聯網雲端圖書平台</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark" type="text" placeholder="搜尋" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">登出</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row my-3">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item h5">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  首頁 <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active h5" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  智慧學習
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link h5" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                  智慧社群
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link h5" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                  智慧管理
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link h5" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                  智慧行政
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="container-fluid">
            <h1>智慧學習</h1>
            <div class="row">
              <div class="col-6 mt-3">
                <div class="card">
                  <div class="card-header d-inline-flex">
                    <h2>行動圖書子系統</h2>
                    <a href="#" class="btn btn-primary mx-2">進入</a>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 my-1">
                        <div class="card">
                          <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">借閱狀態</h6>
                            <p class="card-text">已出借書籍：80本</p>
                            <p class="card-text">已歸還書籍：50本</p>
                            <div id="chart2"></div>
                            <hr/>
                            <h6 class="card-subtitle mb-2 text-muted">通知數</h6>
                            <p class="card-text">今日：20</p>
                            <p class="card-text">總計：50</p>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">通知內容</th>
                                  <th scope="col">通知對象</th>
                                  <th scope="col">通知時間</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>每日推薦</td>
                                  <td>所有 讀者</td>
                                  <td>2020-06-18 10:00:00</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>還書提醒</td>
                                  <td>讀者,王大明</td>
                                  <td>2020-06-18 09:00:00</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td>還書逾期</td>
                                  <td>讀者,范小敏</td>
                                  <td>2020-06-18 08:00:00</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-3 d-flex">
                <div class="card align-self-stretch">
                  <div class="card-header d-inline-flex">
                    <h2>智慧預約書子系統</h2>
                    <a href="#" class="btn btn-primary mx-2">進入</a>
                  </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 my-1">
                          <div class="card">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 text-muted">書櫃狀態</h6>
                              <p class="card-text">已放置書籍：100本</p>
                              <p class="card-text">已取書籍：10本</p>
                              <div class="row">
                                <div class="col-12 my-1">
                                  <h4>讀者取書</h4>
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">通知內容</th>
                                        <th scope="col">通知對象</th>
                                        <th scope="col">通知時間</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>每日推薦</td>
                                        <td>所有 讀者</td>
                                        <td>2020-06-18 10:00:00</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>還書提醒</td>
                                        <td>讀者,王大明</td>
                                        <td>2020-06-18 09:00:00</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>還書逾期</td>
                                        <td>讀者,范小敏</td>
                                        <td>2020-06-18 08:00:00</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <hr/>
                                <div class="col-12 my-1">
                                  <h4>館員置書</h4>
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">通知內容</th>
                                        <th scope="col">通知對象</th>
                                        <th scope="col">通知時間</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>每日推薦</td>
                                        <td>所有 讀者</td>
                                        <td>2020-06-18 10:00:00</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>還書提醒</td>
                                        <td>讀者,王大明</td>
                                        <td>2020-06-18 09:00:00</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>還書逾期</td>
                                        <td>讀者,范小敏</td>
                                        <td>2020-06-18 08:00:00</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.5/examples/dashboard/dashboard.js"></script>
    <!-- Load d3.js and c3.js -->
    <script src="https://c3js.org/js/d3-5.8.2.min-c5268e33.js" charset="utf-8"></script>
    <script src="https://c3js.org/js/c3.min-bc946ede.js"></script>
  </body>
</html>
<script type="text/javascript">
var chart = c3.generate({
  bindto: '#chart',
  data: {
    columns: [
      ['data1', 30, 200, 110, 400, 150, 250],
      ['data2', 50, 20, 10, 40, 15, 25],
    ]
  }
});
var chart = c3.generate({
  bindto: '#chart2',
  data: {
      // iris data from R
      columns: [
          ['data1', 30],
          ['data2', 120],
          ['data3', 30],
          ['data4', 120],
          ['data5', 30],
          ['data6', 120],
          ['data7', 30],
          ['data8', 120],
      ],
      type : 'pie',
      onclick: function (d, i) { console.log("onclick", d, i); },
      onmouseover: function (d, i) { console.log("onmouseover", d, i); },
      onmouseout: function (d, i) { console.log("onmouseout", d, i); }
  }
});
var chart = c3.generate({
  bindto: '#chart3',
  data: {
      columns: [
          ['data1', 300, 350, 300, 0, 0, 100],
          ['data2', 130, 100, 140, 200, 150, 50]
      ],
      types: {
          data1: 'step',
          data2: 'area-step'
      }
  }
});
var chart = c3.generate({
  bindto: '#chart4',
  data: {
      columns: [
          ['data1', 30, 200, 100, 400, 150, 250],
          ['data2', 130, 100, 140, 200, 150, 50]
      ],
      type: 'bar'
  },
  bar: {
      width: {
          ratio: 0.5 // this makes bar width 50% of length between ticks
      }
      // or
      //width: 100 // this makes bar width 100px
  }
});
</script>