<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- <link rel="stylesheet" href="{{ asset("js\main.css") }}"> -->
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset("home.js") }}"></script>
    </body>
</html>
<!-- <script type='text/javascript'>
	console.log('uu')
</script> -->